<main class="about">
  <h1>About</h1>
  <p>Small recruitment app for <strong>Zwolnieni Z Teorii</strong> by <strong>Tomasz Kolasa</strong></p>
  <p>Checkout my portfolio for older projects: <a href="https://thk.dev">thk.dev</a></p>
  <p>Repo of this app: <a href="https://github.com/ThomasK0lasa/zwolnienizteorii-zadanie">GitHub</a></p>
  <p>Subconscious message: <strong>Hire me!</strong> :D</p>
</main>